.game {
	border: 1px solid black;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.544);
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
	color: #0b267f;
}

.game h3 {
	padding: 3px;
	margin: 3px;
}

.todaysGames {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.yesterdaysGames {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.gameStatus {
	text-align: center;
}

.playerDetails {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.playerPic {
	height: 150px;
	width: 150px;
}

.playerBio {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 400px;
}

.teamSchedule {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #c8c8c8;
}

.custom-navbar {
	background-color: #0b267f;
	opacity: 0.8;
	color: white;
	height: 50px;
	text-align: left;
	width: 100%;
	display: flex;
	align-items: center;
	z-index: 1000;
	flex-wrap: wrap; /* Allow flex items to wrap on smaller screens */
	justify-content: space-between; /* Ensure links are not squished together */
}

.custom-navbar .nav-link {
	padding: 10px;
	color: white;
	text-decoration: none;
}

.custom-navbar .nav-link:hover {
	color: #e2e2e2; /* Link text color on hover */
}

.frontPage,
.playerPage,
.teamPage{
	text-align: center;
	background-color: #c8c8c8;
	height: 100vh;
	width: 100%;
}

.standingsPage {
    text-align: center;
	background-color: #c8c8c8;
    width: 100%;
    height: 100%;
}

.frontPage a {
	text-decoration: none;
	color: black;
}
.frontPage a:hover {
	color: #0b267f;
	text-decoration: underline;
}

.gameStatus {
	display: block;
	font-size: 0.85em;
}

.boxScore {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.boxScore a {
	text-decoration: none;
	color: black;
}

.boxScore a:hover {
	color: #0b267f;
	text-decoration: underline;
}

.boxScoreButton {
	width: 75%;
	height: auto;
}

.playerStatsTable {
	background-color: #c8c8c8;
}

.playerStats th{
    padding: 4px;
}

.boxScoreTable {
	width: 800px;
}

.teamGame {
	border: 1px solid black;
	width: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.544);
	height: 200px;
}

.teamGame a{
    text-decoration: none;
    color: black;
}

.teamGame a:hover{
    text-decoration: underline;
    color: #0b267f;
}

.won {
	background-color: green;
	width: 100%;
	font-size: 1em;
}

.lost {
	background-color: red;
	width: 100%;
	font-size: 1em;
}

.sortButtons{
    margin-bottom: 10px;
}

.sortButtons button{
    margin: 5px;
}

.Button{
    border: 1px solid black;
    margin: 30px 10px;
}

.standingsTable{
    width: 70%;
    margin:10px auto 0px auto;
}

.playoffTeam td{
    background-color: rgba(0, 230, 0, 0.1);
}

.playinTeam td{
    background-color: rgba(255, 255, 0, 0.1);
}

.lotteryTeam td{
    background-color: rgba(230,0,0,.1);
}


.standingsTable a{
    text-decoration: none;
    color: black;
}

.standingsTable a:hover{
    color: #0b267f;
    text-decoration: underline;
}

.playerBio a{
    text-decoration: none;
    color: black;
}

.playerBio a:hover{
    text-decoration: underline;
    color: #0b267f;
}

.comparePlayersTable{
    width: 45%;
    margin: auto;
}

.comparePlayersTable a{
    text-decoration: none;
    color: black;
}

.comparePlayersTable a:hover{
    text-decoration: underline;
    color: #0b267f;
}

.comparePlayers{
    margin-top: 100px;
}

.searchPlayer{
    padding-top: 50px;
}

.compareTeamsTable{
	width: 80%;
	margin: auto;
}

.compareTeams{
	padding-top: 100px;
}

.teamSearch{
	padding-top: 100px;
}

.compareButton{
	margin-bottom: 10px;
}

.teamLogo{
	height: 75px;
	width: 75px;
}

@media (max-width: 820px){
    .playerStats th{
        font-size: .8em;
    }
    .comparePlayersTable th{
        font-size: 1em;
    }
    .comparePlayersTable td{
        font-size: 1em;
    }
}

@media (max-width: 800px) {
	.custom-navbar .nav-link {
		padding: 5px; /* Reduce padding for smaller screens */
		font-size: 0.85em; /* Reduce font size for smaller screens */
	}
	.boxScoreTable {
		width: 500px;
	}
	.boxScoreTable th,
	td {
		font-size: 0.9em;
	}
}

@media (max-width: 712px){
    .playerStats th, td{
        font-size: .6em;
    }
}

@media (max-width: 680px) {
	.custom-navbar {
		width: 100vw;
		overflow: hidden;
	}
	.boxScoreTable {
		width: 70%;
		margin: auto;
	}
	.boxScoreTable th,
	td {
		font-size: 0.7em;
	}
	.frontPage {
		height: 100%;
	}

    .gamelogTable th, td{
        font-size: .7em;
    }
}

@media (max-width: 575px) {
	.playerDetails {
		width: 100%;
		height: auto;
		background-color: #c8c8c8;
		overflow: hidden;
	}
	.playerStats th {
		font-size: 0.6em;
		padding: 0px;
		margin: 0px;
	}
	.playerBio h3 {
		font-size: 1em;
	}
	.boxScoreTable th,
	td {
		font-size: 0.5em;
	}
    .standingsTable td{
        font-size: 1em;
    }

    .teamDetailsTable td{
        font-size: .8em;
    }
}

@media (max-width: 470px){
    .boxScoreTable {
        width: 70%;
        margin: auto;
    }
    .boxScoreTable th,
    td {
        font-size: 0.4em;
        width: 20px;
        
    }
    .playerStats th, td{
		font-size: 0.4em;
		padding: 0px;
		margin: 0px;
	}
    .standingsTable td{
        font-size: 1em;
    }
    .comparePlayersTable{
        width: 90vw;
    }
    .comparePlayersTable th{
        font-size: .8em;
    }
    .comparePlayersTable td{
        font-size: .8em;
    }
	.compareTeamsTable td{
		font-size: 0.8em;
		padding: 0px;
		margin: 0px;
	}
}

@media (max-width: 430px) {
	.playerDetails {
		width: 100vw;
		height: auto;
		background-color: #c8c8c8;
		overflow: hidden;
	}
	.playerBio {
		display: flex;
		flex-direction: column;
	}
	.playerBio h3 {
		font-size: 0.8em;
	}
	.boxScoreTable {
		width: 70%;
		margin: auto;
	}
	.boxScoreTable th,
	td {
		font-size: 0.4em;
	}
    .gamelogTable th, td{
        font-size: .4em;
        padding: 0px;
		margin: 0px;
    }
    .standingsTable td{
        font-size: .7em;
    }
}

@media (max-width: 400px){
    .playerStats th, td{
		font-size: 0.3em;
		padding: 0px;
		margin: 0px;
	}
}

@media (max-width: 365px) {
	.boxScoreTable {
		width: 70%;
		margin: auto;
	}
	.boxScoreTable th,
	td {
		font-size: 0.3em;
	}
    .playerStats th, td{
		font-size: 0.23em;
		padding: 0px;
		margin: 0px;
	}
}
@media (max-width: 295px) {
	.boxScoreTable {
		width: 70%;
		margin: auto;
	}
	.boxScoreTable th,
	td {
		font-size: 0.23em;
	}
    .gamelogTable th, td{
        font-size: .28em;
        padding: 0px;
		margin: 0px;
    }
    .playerStats th, td{
		font-size: 0.15em;
		padding: 0px;
		margin: 0px;
	}
}
