.game{
    border: 1px solid black;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
   padding: 0px;
}
.game h3{
    padding: 3px;
    margin: 3px;
}

.todaysGames{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.yesterdaysGames{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gameStatus{
    text-align: center;
}

.playerDetails{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerPic{
    height: 150px;
    width: 150px;
}

.playerBio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}